body{
    padding-top: 5%;
    max-width: 1250px;
    margin: auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    background: #2C1226
}

canvas{
    z-index: -10;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.playlist2 iframe{
    border-radius: 25px;
    border: 5px solid hsl(0, 0%, 0%);
    box-shadow: 
        0 0 10px hsl(0, 0%, 0%);

}
